<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FinalProject_Nick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69A084DE1DD77B9A008AF00D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69A084F71DD77B9B008AF00D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69A085021DD77B9B008AF00D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
